<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Companies</title>
        <style>
            .company {
                border: 1px solid #ccc;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
            }
            .company a {
                color: blue;
                text-decoration: none;
            }
            .company a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <div style="overflow: hidden;">
            <h2 style="float: left;">Companies list</h2>
            <h2 style="float: right; margin-left: 10px;"><a href="/edit" style="float: right; display: block; background-color: Blue; color: white; text-align: center; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Create/edit company</a></h2>
            <h2 style="float: right;"><a href="/delete" style="float: right; display: block; background-color: Red; color: white; text-align: center; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Delete</a></h2>

        </div>